img{
    border: solid;
    margin: 10px;
}

.first-picture{
    margin:10px;
    width: 80%;
    height: 100%;
}

.second-picture{
    margin: 10px;
    width: 100%;
    height: 100%;
}

.tird-picture{
    margin: 10px;
    width: 100%;
    height: 100%;
}

.fourth-picture{
    margin: 10px;
    width: 100%;
    height: 100%;
}

.fifth-picture{
    margin: 10px;
    width: 100%;
    height: 100%;
}

.sixth-picture{
    margin: 10px;
    width: 100%;
    height: 100%;
}
